#bar {
    display: inline-block;
    width: 98vw;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    text-align: right;
}

.contact-info {
    display: inline-block;
    margin: 8px;
    font-size: 18px;
    font-weight: normal;
    /* text-decoration: none; */
    color: black;
}

.title {
    display: block;
    margin: 10px;
    margin-left: 1px;
    font-size: 52px;
}

#summary {
    width: 68vw;
    float: left;
    margin-top: 0;
    margin-right: 0vw;
    font-size: 18px;
}

#portrait {
    width: 20vw;
    min-width: 180px;
    float: right;
    margin-right: 5vw;
}